body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
    margin: 0;
    padding: 0;
}

header 
{
    background-color: darkblue;
    color: white;
    padding: 20px 10px;
    text-align: center;
}

.container {
    max-width: 600px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.filters {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    gap: 10px;
    flex-wrap: wrap;
}

.filters label {
    font-weight: bold;
}

.transactie {
    border-bottom: 1px solid #ddd;
    padding: 10px 0;
}

.transactie:last-child {
    border-bottom: none;
}

.transactie p {
    margin: 5px 0;
}

button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
